@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Gallery thumbnail GIF
// ==========================================================================

.thumbnail {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: gutter(1);
  background-color: $colour-grey-bravo;
  -webkit-mask-image: -webkit-radial-gradient(white, black); // Safari border radius fix
  overflow: hidden;

  img, video {
    @include transition;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.01) translate(-50%, -50%);
  }

  &:hover video {
    transform: scale(1.03) translate(-50%, -50%) translateZ(0);
  }
}

// Spinner

.spinner {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Icon

.icon {
  @include transition;

  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 100px !important;
  color: $colour-white;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 10px rgba($colour-text-secondary, 0.6));

  .thumbnail:hover & {
    color: $colour-primary-light;
  }
}

// Overlay

.overlay {
  @include transition;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: gutter(2);
  background-color: rgba($colour-secondary-dark, 0.6);
  text-align: center;
  opacity: 0;

  .thumbnail:hover & {
    opacity: 1;
  }
}

.title {
  margin: gutter(18) auto 0 !important;
  color: $colour-primary-light !important;
  text-decoration: underline;
  text-shadow: 0 0 10px rgba($colour-text-secondary, 0.6);
}
