// Palette

$colour-primary: #a051bc;
$colour-primary-light: #d380ef;
$colour-primary-dark: #6f218b;

$colour-secondary: #027b84;
$colour-secondary-light: #4daab4;
$colour-secondary-dark: #004e57;
$colour-secondary-extra-dark: #002d33;

$colour-white: #f7f0ea;

$colour-grey-alpha: #e3e3e3;
$colour-grey-bravo: #b2b2b2;
$colour-grey-charlie: #7e7e7e;
$colour-grey-delta: #585858;

$colour-text-primary: #000c26;
$colour-text-secondary: #3a3a3a;
