@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// HomePageHero
// ==========================================================================

.hero {
  position: relative;
  width: 100%;
  background: linear-gradient(#ce9ee0, #6d6da3), #6d6da3;
  mask-image: url('../../../svgs/patterns/bottom-wave.svg');
  mask-position: 15% 100%;
  mask-repeat: no-repeat;
  mask-size: 200% 100%;
  z-index: 20;
  overflow: hidden;

  @include below(600px) {
    padding-top: calc(100vh - 56px);

    @media screen and (orientation: landscape) {
      padding-top: calc(100vh - 48px);
    }
  }

  @include above(600px) {
    padding-top: calc(100vh - 64px);
  }

  @include below(medium) {
    mask-position: 25% 100%;
    mask-size: 260% 100%;
  }
}

.image > img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include below(530px) {
    object-position: calc(100% - (17vw - 100px)) bottom;
  }

  @include above(530px) {
    object-position: right bottom;
  }
}

.headingWrapper {
  position: absolute;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);

  @include below(medium) {
    top: gutter(4);
  }

  @include above(medium) {
    top: 45%;
    transform: translate(-50%, -50%);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  color: lighten($colour-secondary-light, 20%);
  letter-spacing: 0.15em;
  line-height: 1.5em !important;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: calc((50px + 8vw) / 2) !important;

  @include between(medium, 1160px) {
    padding-left: gutter(5);
  }

  @include below(1160px) {
    align-items: flex-start;
  }

  @include above(1160px) {
    align-items: center;
  }
}

@-webkit-keyframes fadeInSide {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50vw, 0, 0);
    transform: translate3d(-50vw, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInSide {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInSide {
  -webkit-animation-name: fadeinside;
  animation-name: fadeInSide;

  &:first-child {
    animation-delay: 400ms;
    -webkit-animation-delay: 400ms;
  }

  &:nth-child(2) {
    animation-delay: 700ms;
    -webkit-animation-delay: 700ms;
  }

  &:nth-child(3) {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }
}

.animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

