@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Header
// ==========================================================================

.header {
  box-shadow: none;
}

.link {
  @include transition;

  display: flex;
  align-items: center;
  text-decoration: none;
  color: $colour-grey-alpha;

  &:hover {
    color: $colour-white;
  }
}

// Avatar
.avatar {
  margin-right: gutter(2);
  filter: grayscale(100%);
}

// Title
.title {
  flex-grow: 1;
  letter-spacing: 0.07em;

}
