@import "../styles/abstracts/abstracts.scss";

// ==========================================================================
// Home page
// ==========================================================================

// Welcome section

.welcomeSection {
  @include padding-top(140px, 200px);

  position: relative;
  margin-top: -130px;
  background-color: $colour-secondary-light;
  filter: drop-shadow(0 0 4px rgba($colour-grey-bravo, 0.6));
  z-index: 15;

  @include below(medium) {
    margin-bottom: 100px;
  }

  @include above(medium) {
    margin-bottom: 150px;
  }

  &::after {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-color: $colour-secondary-light;
    mask-image: url('../svgs/patterns/bottom-wave.svg');
    mask-position: 95% 100%;
    mask-repeat: no-repeat;
    mask-size: 140% 600px;

    @include below(small) {
      top: calc(100% - 170px);
      mask-size: 180% 300px;
    }

    @include between(small, medium) {
      top: calc(100% - 140px);
      mask-size: 180% 300px;
    }
  }
}

.welcomeSectionInner {
  position: relative;
  display: flex !important;
  z-index: 5;

  @include below(large) {
    flex-direction: column;
  }
}


.welcomeSectionColumn {
  // Get in touch button
  &:first-of-type {
    :global(.MuiButton-root) {
      display: block;
      min-width: 220px;
      margin-top: gutter(4);
      font-size: 1em;

      @include below(xsmall) {
        width: 100%;
      }
    }
  }

  &:last-of-type {
    text-align: center;
  }

  @include above(large) {
    width: 50%;
  }

  @include between(large, xxlarge) {
    &:first-of-type {
      margin-right: gutter(4);
    }
  }

  @include above(xxlarge) {
    &:first-of-type {
      margin-right: gutter(6);
    }
  }
}

.welcomeSectionCard {
  position: relative;
  background-color: rgba($colour-white, 0.4) !important;
  margin: 0 auto;
  padding: gutter(3);
  box-shadow: none !important;
  border-radius: gutter(1) !important;
}

.avatarLarge{
  width: 224px !important;
  height: 224px !important;
  margin: 0 auto 24px;
  border: 6px solid $colour-secondary-light;
}

// Section heading

.sectionHeading {
  line-height: 1.4 !important;

  @include above(xsmall) {
    text-align: center;
  }

  @include below(medium) {
    margin-bottom: gutter(3) !important;
  }

  @include above(medium) {
    margin-bottom: gutter(6) !important;
  }

}

// Showreel section

.showreelSection {
  @include padding-top(140px, 200px);
  @include padding-bottom(gutter(6), 120px);

  margin-top: -100px;
  background-color: $colour-grey-alpha;
  position: relative;
  z-index: 10;
}

// Portfolio section

.portfolioSection {
  @include padding-top(gutter(8), 100px);
  @include padding-bottom(gutter(1), gutter(10));

  position: relative;
  background-color: $colour-white;
  margin-bottom: 150px;
  z-index: 5;
  filter: drop-shadow(0 0 4px rgba($colour-grey-bravo, 0.6));

  &::after {
    position: absolute;
    top: calc(100% - 130px);
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-color: $colour-white;
    mask-image: url('../svgs/patterns/bottom-wave.svg');
    mask-position: 0 100%;
    mask-repeat: no-repeat;
    mask-size: 180% 600px;

    @include below(medium) {
      top: calc(100% - 170px);
      mask-position: 0 100%;
      mask-size: 180% 300px;
    }
  }
}

.portfolioGallery {
  position: relative;
  z-index: 5;
}

// Services section

.servicesSection {
  @include padding-top(140px, 250px);
  @include padding-bottom(gutter(8), 120px);

  position: relative;
  margin-top: -150px;
  background-color: $colour-secondary-light;
  filter: drop-shadow(0 0 4px rgba($colour-grey-bravo, 0.6));

  &::after {
    position: absolute;
    top: calc(100% - 140px);
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-color: $colour-secondary-light;
    mask-image: url('../svgs/patterns/bottom-wave.svg');
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 120% 600px;

    @include below(medium) {
      top: calc(100% - 200px);
      mask-position: 0 100%;
      mask-size: 180% 400px;
    }
  }
}

.servicesHeading {
  @include above(xsmall) {
    text-align: center;
  }

  @include below(medium) {
    margin-bottom: gutter(5) !important;
  }

  @include above(medium) {
    margin-bottom: gutter(8) !important;
  }
}

.servicesGrid {
  position: relative;
  z-index: 5;
}

// Contact section

.contactSection {
  @include padding-top(100px, 260px);
  @include padding-bottom(gutter(6), 130px);

  background-color: $colour-grey-alpha;
}

.contactSectionHeading {
  margin-bottom: gutter(3) !important;

  @include above(xsmall) {
    text-align: center;
  }
}


.contactSectionSubheading {
  margin: 0 auto;

  &:last-of-type {
    margin-bottom: gutter(5) !important;
  }

  @include above(xsmall) {
    text-align: center;
  }
}

.contactForm {
  margin: 0 auto;
}
