@import "../styles/abstracts/abstracts.scss";

// ==========================================================================
// Home page
// ==========================================================================

// Hero
.hero {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
}

.heroImage {
  position: relative;
  display: block;
  width: 100%;
}

.heroHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  color: $colour-secondary-light;
  font-size: 70px;
  letter-spacing: 0.2em;
  line-height: 1.5em !important;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 10;

  //@supports (-webkit-background-clip: text) or (background-clip: text) {
  //  background-image: linear-gradient(to bottom, #a7ffeb, #ffe57f);
  //  -webkit-background-clip: text;
  //  background-clip: text;
  //  color: transparent;
  //}
}

.welcomeSection {
  position: relative;
  padding-top: 80px;
  background-color: #80cbc4;
  margin-bottom: 150px;

  &::after {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-color: #80cbc4;
    mask-image: url('../svgs/patterns/bottom-wave.svg');
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100% 600px;
  }
}

.welcomeSectionInner {
  position: relative;
  display: flex !important;
  z-index: 5;

  @include below(large) {
    flex-direction: column;
  }
}

.welcomeDescription {
  //font-size: 1.3em !important;
}

.welcomeSectionColumn {
  // Get in touch button
  &:first-of-type {
    :global(.MuiButton-root) {
      display: block;
      min-width: 220px;
      margin-top: gutter(4);
      font-size: 1em;
    }
  }

  &:last-of-type {
    text-align: center;
  }

  @include above(large) {
    width: 50%;
  }

  @include between(large, xxlarge) {
    &:first-of-type {
      margin-right: gutter(4);
    }
  }

  @include above(xxlarge) {
    &:first-of-type {
      margin-right: gutter(6);
    }
  }
}

.welcomeSectionCard {
  position: relative;
  background-color: rgba($colour-white, 0.4) !important;
  margin: 0 auto;
  padding: gutter(3);
  box-shadow: none !important;
  border-radius: gutter(1) !important;

  //&::after {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  content: '';
  //  display: block;
  //  width: 100%;
  //  height: 100%;
  //}
}
//
//.welcomeSectionCardContent {
//  position: relative;
//  z-index: 5;
//}

.avatarLarge{
  width: 200px !important;
  height: 200px !important;
  margin: 0 auto 24px;
}

// Section heading

.sectionHeading {
  margin-bottom: gutter(6) !important;
}

// Showreel section

.showreelSection {
  margin-top: -100px;
  padding-top: 200px;
  padding-bottom: 120px;
  background-color: $colour-grey-alpha;
}

// Portfolio section

.portfolioSection {
  position: relative;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: $colour-white;
  margin-bottom: 150px;
  z-index: 5;

  &::after {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-color: $colour-white;
    mask-image: url('../svgs/patterns/bottom-wave.svg');
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100% 600px;
  }
}

.portfolioGallery {
  position: relative;
  z-index: 5;
}

// Services section

.servicesSection {
  position: relative;
  margin-top: -100px;
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: $colour-secondary-light;

  &::after {
    position: absolute;
    top: calc(100% - 100px);
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 250px;
    background-color: $colour-secondary-light;
    mask-image: url('../svgs/patterns/bottom-wave.svg');
    mask-position: bottom;
    mask-repeat: no-repeat;
    mask-size: 100% 600px;
  }
}

.servicesHeading {
  margin-bottom: gutter(8) !important;
}

.contactSection {
  background-color: $colour-secondary;
  padding-top: 250px;
  padding-bottom: 100px;
}
