@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Copyright
// ==========================================================================

.copyright, .madeBy {
  font-size: 1rem !important;
}

.copyright {
  margin-bottom: gutter(1.5) !important;
}

.icon {
  font-size: 1rem !important;
  transform: translateY(3px) !important;
}
