@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Carousel
// ==========================================================================


// Animation

.sliderAnimation {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

// Slider

.sliderWrapper {
  border-radius: gutter(0.5);
  position: relative;
  background-color: $colour-grey-bravo;
  z-index: 15;
  overflow: hidden;
}

.slide {
  :global(.carousel__inner-slide) {
    overflow: hidden;
  }
}

// Thumbnails
// ==========================================================================

.thumbnailWrapper {
  position: relative;
  height: 92px;
  margin-top: -#{gutter(1)};
  padding: gutter(2.5) gutter(1.5) gutter(1.5);
  background-color: $colour-white;
  border-bottom-left-radius: gutter(0.5);
  border-bottom-right-radius: gutter(0.5);
  overflow-x: hidden;
}

.thumbnails {
  @include transition;

  position: absolute;
  display: flex;
  flex-wrap: nowrap;
}

.thumbnail {
  position: relative;
  width: 100px;
  margin-right: gutter(1.5);
  padding: 60px 0 0;
  border: 0;
  border-radius: gutter(0.5);
  background-color: $colour-grey-bravo;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &::after {
    @include transition;

    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($colour-white, 0.5);
    z-index: 5;
  }
}

.thumbnailSelected::after {
  background-color: transparent;
}

.thumbnailImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.gradient {
  display: block;
  position: absolute;
  content: '';
  height: 60px;
  width: 20%;
  top: 0;
  right: 0;
  background: linear-gradient(to right, transparent, $colour-white);
  z-index: 10;
  pointer-events: none;
}

// Buttons
// ==========================================================================

.buttonBack, .buttonNext {
  @include transition;
  @include padding-left(gutter(1), gutter(2));
  @include padding-right(gutter(1), gutter(2));

  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  border: none;
  border-radius: 0;
  background-color: rgba($colour-grey-bravo, 0.5);
  color: $colour-white;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  &:focus {
    border: none;
    outline: none;
  }

  @include below(small) {
    display: none;
  }
}

.buttonBack {
  left: 0;
}

.buttonNext {
  right: 0;
}

.arrow {
  width: 1.5em !important;
  height: 1.5em !important;
}
