@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Services
// ==========================================================================

.services {
  display: grid;
  grid-gap: gutter(4);

  @include above(large) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  @include above(xxlarge) {
    grid-gap: gutter(6);
  }
}

.service {
  @include transition;

  position: relative;
  padding: gutter(4) gutter(4) gutter(5);
  background-color: rgba($colour-white, 0.6);
  border-radius: gutter(1);
  overflow: hidden;
  z-index: 0;
  transform: scale(1);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 5%);

  @include below(small) {
    padding: gutter(3) gutter(3) gutter(3.25);
  }

  &:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
  }
}

// Icon

.icon {
  @include transition();

  position: absolute;
  top: -42px;
  right: -40px;
  font-size: 200px;
  display: block;
  margin: 0 auto gutter(2);
  color: darken($colour-secondary-light, 10%);

  @include below(xsmall) {
    display: none;
  }

  @include between(xsmall, small) {
    font-size: 150px;
    top: -34px;
    right: -34px;
  }

  @include between(large, 1080px) {
    font-size: 150px;
    top: -34px;
    right: -34px;
  }
}

// Heading

.heading {
  position: relative;
  color: $colour-secondary-extra-dark;
  margin-bottom: gutter(2);
}

// List

.list {
  position: relative;
  padding-left: gutter(2.75);

  @include between(xsmall, small) {
    max-width: calc(100% - 90px);
  }

  @include between(small, large) {
    max-width: calc(100% - 130px);
  }

  @include between(large, 1080px) {
    max-width: calc(100% - 90px);
  }

  @include above(1080px) {
    max-width: calc(100% - 130px);
  }


  li {
    margin-bottom: 0.4em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
