@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Gallery
// ==========================================================================

.gallery {
  display: grid;
  gap: gutter(3);

  @include below(xsmall) {
    grid: auto-flow auto / 1fr;
  }

  @include between(xsmall, medium) {
    grid: auto-flow auto / repeat(2, 1fr);
  }

  @include between(medium, xlarge) {
    grid: auto-flow auto / repeat(3, 1fr);
  }

  @include above(xlarge) {
    grid: auto-flow auto / repeat(4, 1fr);
  }
}

.item {
  @include between(medium, xlarge) {
    &:last-child {
      display: none;
    }
  }
}
