@import "../../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Portfolio Page Template
// ==========================================================================

.page {
  background-color: $colour-secondary-light;
}

// Backlink

.backLinkBar {
  position: relative;

  @include padding-top(gutter(0.5), gutter(1));
  @include padding-bottom(gutter(1.5), gutter(2));

  background-color: $colour-grey-alpha;
  z-index: 5;
}

.backLink {
  @include transition;
  @include padding-top(gutter(1), gutter(1.75));
  @include padding-bottom(gutter(1), gutter(1.75));

  display: inline-flex;
  align-items: center;
  font-size: 0.8em;
  font-weight: 600;
}

.arrowIcon {
  font-size: 1.6em;
  margin-left: -0.35em;

  .backLink:hover & {
    transform: translateX(-2px);
  }
}

// Media

.mediaWrapper {
  @include padding-bottom(gutter(4), 120px);

  position: relative;
  z-index: 0;
  filter: drop-shadow(0 0 4px rgba($colour-grey-bravo, 0.6));

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    background-color: $colour-grey-alpha;
    mask-image: url('../../../svgs/patterns/bottom-wave.svg');
    mask-position: 0 0;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
}

.mediaInner {
  position: relative;
  z-index: 5;
}

// Description

.description{
  @include padding-top(gutter(5), gutter(7));
  @include padding-left(gutter(2.5), gutter(6));
  @include padding-right(gutter(2.5), gutter(6));
  @include padding-bottom(gutter(3.75), gutter(6.5));

  margin-top: -#{gutter(1)};
  background-color: #c8e1db;
  border-bottom-left-radius: gutter(1);
  border-bottom-right-radius: gutter(1);
}

.title {
  @include margin-bottom(gutter(2), gutter(3.5));

  display: inline-block;
  color: $colour-secondary-dark;
  font-weight: 600;
}

.divider {
  color: $colour-grey-delta;
}

.year {
  color: $colour-grey-delta;
}
