// ==========================================================================
// Lazy Image
// ==========================================================================

img.lazyload,
img.lazyloading {
  opacity: 0;
  transition: opacity 0.3s;

  .no-js & {
    opacity: 1;
  }
}

img.lazyloaded {
  opacity: 1;
}
