@import "../../styles/abstracts/abstracts.scss";

// ==========================================================================
// Portfolio page
// ==========================================================================

.paragraphMargin {
  margin-bottom: 1.2em !important;
}

.list {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
}
